*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: Impact;
    background: linear-gradient(to top, #6bf869, #fff066);
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 48px;
}

#createGrid-Btn{
    padding: 6px 10px;
    border-radius: 10px;
}

#grid {
    display: flex;
    flex-wrap: wrap; 
    width: 1000px;
    margin: 0 auto; 
    padding: 100px 0;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px; 
    height: 100px; 
    border: 1px solid black; 
}